header {
  padding: 2em;
  background: #00f;
}

footer {
  padding: 1em;
  background: #ffc;
  border-top: 1px solid #000;
}

.main {
  padding:1em;
  text-align : center;
  background:#ffb;
  h1 {
    margin:0;
  }
}
